.offerDonwloadApp {
  /* width: 80%; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px 30px;
  background-color: white;
  /* border: 1px solid black; */
}
.offerDonwloadApp > .donwloadhead > h1 {
  font-size: 40px;
  font-weight: 700;
}
.offerDonwloadApp > .donwloadhead > p {
  font-size: 20px;
  font-weight: 400;
}

.offerDonwloadApp > .donwloadBox {
  display: flex;
  align-items: center;
  gap: 20px;
}

.offerDonwloadApp > .donwloadBox > .downloadInputbx {
  display: flex;
  width: 65%;
  padding: 40px 50px;
  /* gap: 20px; */
  /* flex-direction: column; */
  /* border: 1px solid black; */
}

.offerDonwloadApp > .donwloadBox > .downloadInputbx input {
  padding: 10px 20px;
  border: 1px solid gray;
  width: 50%;
  outline: none;
}
.offerDonwloadApp > .donwloadBox > .downloadInputbx button {
  border: 1px solid royalblue;
  padding: 10px 20px;
}

.offerDonwloadApp > .donwloadBox > .donwloadButtons {
  display: flex;
  gap: 10px;
  flex-direction: column;
  /* border: 1px solid black; */
}
.offerDonwloadApp > .donwloadBox > .donwloadButtons button {
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  background-color: black;
}
.offerDonwloadApp > .donwloadBox > .downloadQr img {
  width: 120px;
}
