.modalBox{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.406);
}
.logSignCancelBtn{
    top: 1rem;
    right: -2rem;
}
.loginsignInput{
    width: 100%;
    border: 1px solid rgb(146, 146, 146);
}
.signUpBox{
    max-height: 80rem;
    min-height: 42rem;
    width: 60rem;
}
.inputBox:focus{
    outline: none;
}
@media (max-width:820px){
    .loginImg{
        max-width: 35vw;
    }
}
@media (max-width:520px){
    .loginImg{
        display: none;
    }
    .signUpBox{
        max-height: 35rem;
        min-height: auto;
    }
}