.headerOne{
    width: 100%;
    position: absolute;
    background-color: transparent;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.headerTwo{
  width: 100%;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}
.headerNavList{
  width: 35vw;
}
.noSticky{
  position: absolute;
  z-index: 30;
  top: -8rem;
  width: 100%;
}
.sticky{
  transition: .5s;
  position: fixed;
  z-index: 30;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}
.headerBox{
    max-width: 1200px;
}
.alignCenter{
    align-items: center;
}
.loginBtn{
    width: 15vw;
    background-image: var(--color-btn-primary-bg, linear-gradient(93deg, #53b2fe, #065af3));
}
.loginGreenBtn{
  width: fit-content;
}
.rotating {
    animation: rotation 2.5s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
.userNameWidth{
  min-width: 4rem;
  max-width: 7rem;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}