.modal-wrapper {
  display: flex;
  align-items: center;
}

.hotel-modal {
  flex: 1;
  position: absolute;
  top: 200px;
  right: 150px;
  width: 300px;
  height: 350px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.hotel-modal-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.hotel-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.hotel-modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-now-button {
  background: var(--color-btn-primary-bg);
  outline: none;
  color: white;
  padding: 10px;
  margin-top: 10px;
  background: var(--color-btn-primary-bg);
  cursor: pointer;
  border: none;
  transition: transform 0.3s ease;
  font-weight: 600;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
}


.hotel-modal-left-data {
  text-align: left;
}

.hotel-modal-right-data {
  text-align: right;
}

/* Additional styles for alignment if needed */
.hotel-modal-left-data,
.hotel-modal-right-data {
  flex: 1;
}

.outer-div {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(38, 37, 37, 0.3);
  color: white;
  gap: 10px;
  border-radius: 8px;
  margin-top: 20px;
}
.inner-circle img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 5px solid white;
}
.image-gallary {
  display: flex;
  margin-left: 50px;
  gap: 10px;
}
.para {
  font-weight: 800;
  margin-left: 50px;
  margin-top: 30px;
}
