/* .form-container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
input {
  background-color: #fff;
  padding: 0.5rem;
  margin: 0.5rem;

  border-radius: 0.5rem;
} */
/* .main{

    background-color: #fff;
    width: 38%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
.login{
    font-family: 'Poppins', sans-serif;

    width:90%;
    padding:2% 0%;
    color:#000;
    font-size:12px;
    background-color:#fff;
    margin:12px auto;
    font-weight:bold;
    font-family: 'Poppins', sans-serif;

}
.log{
    float: left;
    font-size: 22px;
    width: 75% !important;
}
.cut{

    width:6%;
    float:right;
    cursor:pointer;
}
.in{
    width: 11px;
    height: 11px;
    float: right;
    background: url("https://www.easemytrip.com/images/new-login/home-sub-sprite.png") no-repeat -96px -24px;
    opacity: .3;
    background-size: 200px 39px;
    position: absolute;
    top: 22px;
    right: 30px;
}
.user{
    font-family: 'Poppins', sans-serif;

    width: 100%;
    float: left;
    color: #0f0f0f;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    margin-top: 25px;
    margin-left: 25px;
}
.btn1{
    border: medium none;
    border-radius: 5px;
    color: #fff;
    background: #EF6614;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;

    font-size: 18px;
    font-weight: normal;
    height: 43px;
    -webkit-appearance: none;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 25px;
}
.email{
    font-family: 'Poppins', sans-serif;

    margin-top: 10px;
    border-radius: 5px;
    height: 43px;
    width: 88%;
    margin-left: 25px;
}
.terms{
    font-family: 'Poppins', sans-serif;

    margin-left: 25px;
    margin-top: 10px;
    float: right;
} */




/* 
  .form-image-both{
    width: 80%;
    
  }


body {
    color: white;
    margin: 0;
    padding: 0;
    background: url('https://makemytrip-vivek.netlify.app/assets/loginPersuassionRoad-dc193709.avif') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.form-wrapper{
    display: flex;
    background-image: linear-gradient(to right, #2f80ed, #56ccf2);
}
.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-container {
    background: rgba(255, 255, 255, 0.9);
width: 30%;
    display: flex;
    flex-direction: column;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px 0;
    width: 80%;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
}

input[type="submit"] {
    background-color: #0074d9;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
} */





.form-wrapper {
  display: flex;
  background: #18B9E1;
  height: 100vh;
}

.form-image-both {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 80%;
  padding:  20px;
  margin-left: 100px;
 
}

.image-contain {
  flex: 1;
  padding: 20px;
}

.image-contain img {
  width: 100%;
  height: auto;
  max-width: 100%;
  /* display: block; */
  position: relative;
  left: 6%;
  top: 3px;
  border-radius: 4px;
}

.form-container {
  height: 540px;
  max-width: 100%;
  width: 100%;
  flex: 1;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  /* text-align: center; */
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
}

form div {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
 

}

input[type="submit"] {
  background-color:#EF6614;
  color: #fff;
  padding: 10px;
  border: none;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0px;
}

input[type="submit"]:hover {
  
  background-color: #0056b3;
}
